LOCATE COMP "clk" SITE "P6";
IOBUF  PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "led_r" SITE "B11";
IOBUF  PORT "led_r" IO_TYPE=LVCMOS33;

LOCATE COMP "led_g" SITE "A11";
IOBUF  PORT "led_g" IO_TYPE=LVCMOS33;

LOCATE COMP "led_b" SITE "A12";
IOBUF  PORT "led_b" IO_TYPE=LVCMOS33;

// 串口 TX：iCELink-UART3-RX（官方 uart_tx demo 用的管脚）
LOCATE COMP "uart_tx" SITE "B9";
IOBUF  PORT "uart_tx" IO_TYPE=LVCMOS33 DRIVE=4;
